// #1f3152
// #f3d420

// @import '../../../node_modules/bootstrap/scss/_variables.scss';
// @import './_variables.scss';

// @import '../../../node_modules/bootstrap/scss/_functions.scss';
// @import '../../node_modules/bootstrap/scss/_variables.scss';
// @import './node_modules/bootstrap/scss/_variables.scss';
// @import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

$primary: #1f3152;
$secondary: #f3d420;

// $theme-colors: (
//   'primary': $primary,
//   'secondary': $secondary,
// );

@import '../../node_modules/bootstrap/scss/bootstrap';
// @import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

// @import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@mixin desktop-below {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

// @media (min-width: 768px) {
//   .col-md-push-7 {
//     left: calc(100% * 7 / 12);
//   }
//   .col-md-pull-5 {
//     right: calc(100% * 5 / 12);
//   }
// }

a {
  text-decoration: none !important;
}

.tabProdsImg {
  max-width: 450px;
  max-height: 550px;
  width: 55%;

  @include pad {
    width: 100% !important;
  }
}
